body {
	background: black;
}

/* CODIGO PARA DEPURAR, LUEGO SE BORRA */
/* * {
	border: 1px dashed red;
	min-height: 10px;
} */
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
	font-family: "Acme", sans-serif;
}
.postcard-header {
	display: flex;
}
img {
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-right: 5px;
}
.title {
	width: 90%;
	margin-left: 10px;
	margin-top: 0;
}
.postcard-body {
	display: flex;
}
.body-left {
	width: 50%;
	font-size: 16px;
	margin-left: 10px;
}
.parrafo-1 {
	margin-top: 0;
	height: 50px;
	margin-bottom: 30px;
}
.body-right {
	text-align: left;
	width: 50%;
	margin-left: 15px;
	color: rgb(90, 89, 89);
}
.label {
	font-size: 14px;
	color: red;
}
.input {
	font-size: 12px;
	border: none;
	padding-right: 20px;
	border-bottom: 1px solid black;
	margin-bottom: 12px;
	margin-top: 0px;
}
.textarea {
	border-bottom: 1px solid black;
	resize: none;
	border: 1px solid black;
	height: 40px;
}
.postcard-footer {
	display: flex;
}
.submit {
	justify-content: center;
	width: 130px;
	padding: 5px;
	background: rgb(187, 187, 187);
	margin: auto;
	margin-top: 10px;
	border-radius: 5px;
	text-decoration: none;
	border: none;
}
.submit:hover {
	background: rgba(12, 11, 11, 0.418);
	cursor: pointer;
	font-size: 12px;
}
